In [58]:
import pandas as pd

In [59]:
!git clone https://github.com/prateek-5116/Datasets.git

fatal: destination path 'Datasets' already exists and is not an empty directory.

In [60]:
#loading dataset as pandas dataframe
diamond_data=pd.read_csv('/content/Datasets/DiamondPrices.csv')

In [61]:
#reading first 5 rows
diamond_data.head()

   sn  carat      cut color clarity  depth  table  price     x     y     z
0   1   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   2   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   3   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   4   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   5   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [62]:
#reading last 5 lines
diamond_data.tail()

,sn,carat,cut,color,clarity,depth,table,price,x,y,z
53935,53936,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50
53936,53937,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61
53937,53938,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64

In [63]:
#information about dataframe
diamond_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   sn       53940 non-null  int64
 1   carat    53940 non-null  float64
 2   cut      53940 non-null  object
 3   color    53940 non-null  object
 4   clarity  53940 non-null  object
 5   depth    53940 non-null  float64
 6   table    53940 non-null  float64
 7   price    53940 non-null  int64
 8   x        53940 non-null  float64
 9   y        53940 non-null  float64
 10  z        53940 non-null  float64
dtypes: float64(6), int64(2), object(3)
memory usage: 4.5+ MB

In [64]:
#check whether null/missing values present or not
diamond_data.isnull().sum()

sn         0
carat      0
cut        0
color      0
clarity    0
depth      0
table      0
price      0
x          0
y          0
z          0
dtype: int64

In [65]:
#statistical measures of the data
diamond_data.describe()

,sn,carat,depth,table,price,x,y,z
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,26970.500000,0.797940,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,15571.281097,0.474011,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,1.000000,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,13485.750000,0.400000,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
50%,26970.500000,0.700000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,40455.250000,1.040000,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,53940.000000,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

In [66]:
#checking distribution of prices
diamond_data.price.value_counts()

605      132
802      127
625      126
828      125
776      124
        ...
8816       1
14704      1
14699      1
14698      1
9793       1
Name: price, Length: 11602, dtype: int64

In [67]:
diamond_data.columns

Index(['sn', 'carat', 'cut', 'color', 'clarity', 'depth', 'table', 'price',
       'x', 'y', 'z'],
      dtype='object')

In [68]:
#splitting the features and targets
X=diamond_data[['carat','depth', 'table', 
       'x', 'y', 'z']]
y=diamond_data['price']

In [69]:
print(X.shape,y.shape)

(53940, 6) (53940,)

In [70]:
#splitting X and y into training and testing data
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,train_size=0.8,random_state=2)

In [71]:
#model training
from sklearn.ensemble import RandomForestRegressor
model=RandomForestRegressor(n_estimators=100)
model.fit(X_train,y_train)

RandomForestRegressor()

**Evaluation of model**

In [72]:
from sklearn.metrics import mean_absolute_error , mean_absolute_percentage_error , mean_squared_error
X_test_prediction=model.predict(X_test)
mean_abs_error=mean_absolute_error(X_test_prediction,y_test)
mean_abs_percentage_error=mean_absolute_percentage_error(X_test_prediction,y_test)
mean_sqrd_error=mean_squared_error(X_test_prediction,y_test)

In [73]:
print('mean absolute error : ',mean_abs_error)
print('mean absolute percentage error : ',mean_abs_percentage_error)
print('mean squared error : ',mean_sqrd_error)

mean absolute error :  785.3803068600306
mean absolute percentage error :  0.192233305432939
mean squared error :  1920504.0568012078